#1. Load the Dataset

In [50]:
import pandas as pd
df=pd.read_csv('sales_data_sample.csv')

#2. Preview the Data

In [51]:
print(df.head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

          ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0    2/24/2003 0:00  Shipped       1         2     2003  ...
1  05-07-2003 00:00  Shipped       2         5     2003  ...
2  07-01-2003 00:00  Shipped       3         7     2003  ...
3    8/25/2003 0:00  Shipped       3         8     2003  ...
4  10-10-2003 00:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB
None

#Cleaning Process
#3. Handle Missing Values

In [29]:
print(df.isnull().sum())
df=df.dropna()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
ADDRESSLINE2        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

#4. Remove Duplicates

In [63]:
df_cleaned=df.drop_duplicates()

#5. Standardize Text Values
# Convert date formats to a consistent type
# Rename column headers to be clean and uniform.
# Check and fix data types

In [64]:
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'],errors='coerce',dayfirst=True)
df_cleaned['STATUS'] = df_cleaned['STATUS'].str.strip().str.lower()
df_cleaned['COUNTRY'] = df_cleaned['COUNTRY'].str.strip().str.title()
df_cleaned['DEALSIZE'] = df_cleaned['DEALSIZE'].str.strip().str.title()
df_cleaned.columns = df_cleaned.columns.str.strip().str.lower().str.replace(" ", "_")
if df_cleaned['postalcode'].dtype != 'object':
  df_cleaned['postalcode'] = df_cleaned['postalcode'].astype(str)
print(df_cleaned)

      ordernumber  quantityordered  priceeach  orderlinenumber    sales  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

      orderdate    status  qtr_id  month_id  year_id  ...  \
0    2003-02-24   shipped       1         2     2003  ...
1           NaT   shipped       2         5     2003  ...
2           NaT   shipped       3         7     2003  ...
3    2003-08-25   shipped       3         8     2003  ...
4           NaT   shipped       4        10     2003  ...
...         ...       ...     ...       ...      ...  ...
2818        NaT   shipped       4        12     2004  ...
2819 2005-01-31   shipped       1         1     2005  ...
2820        NaT  resolved       1         3     2005  ...
2821 2005-03-28   shipped       1         3     2005  ...
2822        NaT   on hold       2         5     2005  ...

                       addressline1  addressline2           city state  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     postalcode  country territory contactlastname contactfirstname dealsize
0         10022      Usa       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      Usa       NaN           Young            Julie   Medium
4           NaN      Usa       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      Usa       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns]